body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, Arial, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 0.2em;
  color: #3b3b3b;
}

p {
  font-size: 1em;

  color: black;

  font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
